body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-content: center;
    gap: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 200px;
    display: flex;
    flex-direction: column;
}

/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.5em;
}

